.detailBox{

    background-color: antiquewhite;
    border: burlywood solid 1px;
    border-radius: 0.3em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    width: 23em;
    margin: 0.2em;
    height: 12em;

}

.detailBox > div{
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}


.detailBox .info{

    color: brown;
    font-size: larger;
    display: inline-block;
    margin-bottom: 0.7em;
    font-weight: bold;
}


.detailBox .code{

    color: gray;
    font-size: smaller;
    display: inline-block;
}

.detailBox > img{

    height: 8em;
}