<div class="detailBox">
    <img [src]="coverUrl" >

    <div>
        <span class="code">{{book.ISBN}}</span>
        <span class="info">{{book.title}}</span>
        <span class="info">{{book.author}}</span>
        <span class="code">{{book.publisher}}</span>
        <span class="code">{{book.publicationDate| date:'MMMM yyyy'}}</span>
        <input type="button" value="modifica" (click)="editBook(book)">
        <input type="button" value="elimina" (click)="deleteBook(book)">


    </div>
</div>