<div class="detailBox">
    <img [src]="coverUrl">

    <div>
        <span class="code">{{book.ISBN}}</span>
        <span class="info">{{book.title}}</span>
        <span class="info">{{book.author}}</span>
        <span class="code">{{book.publisher}}</span>
        <span class="code">{{book.publicationDate| date:'MMMM yyyy'}}</span>
        <span class="controls">
            <button (click)="editBook(book)">modifica</button>
            <button (click)="deleteBook(book)">elimina</button>
        </span>


    </div>
</div>